{% ckan_extends %}

{% block resource_actions_inner %}
    {{super()}}

    {% if res.format=="WMS" and res.vectorstorer_resource and h.check_access('package_update', {'id':pkg.id }) %}
        <li>{% link_for _('Edit Style'), named_route="vectorstorer_style", action='show', id=pkg.name, resource_id=res.id, class_='btn', icon='magic' %}</li>
    {% endif %}

    {% if not res.vectorstorer_resource %}
       {% if h.vectorstore_is_in_vectorstore(c.pkg.id, c.resource_id) %}
            <button class="btn btn-success btn-disabled"><i class="fa fa-globe"></i><i class="fa fa-check"></i> GeoData imported</button>
        {% elif h.vectorstore_supported_format(res.format) and h.check_access('package_update', {'id':pkg.id }) %}
            {# Add check for geo formats #}
            <a class="btn btn-success" href="#" onclick="upload()"><i class="fa fa-upload"></i><i class="fa fa-globe"></i> Import GeoData</a>
        {% endif %}
    {% endif %}
    {% if res.vectorstorer_resource and res.format=='DB_TABLE' %}

           <li>{% link_for _('Export'), controller='ckanext.vectorstorer.controllers.export:ExportController', action='export',operation='index', id=pkg.name, resource_id=res.id, class_='btn', icon='magic' %}</li>


    {% endif %}
{% endblock %}

{% block resource_read_url %}
            {% if res.layer_url %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.layer_url }}" title="{{ res.layer_url }}">{{ res.layer_url }}</a></p>
            {% elif res.url and h.is_url(res.url) %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="muted break-word">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
{{ super() }}
{% if res.format=="DB_TABLE" and res.vectorstorer_resource %}

  <h2>{{ _('Metadata held by Geoserver') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <tbody>
              <tr>
                <th scope="row">Bounds</th>
                <td id="geoserver_bounds">Please wait...</td>
              </tr>
              <tr>
                <th scope="row">Coordinate Reference Systems (stored)</th>
                <td id="geoserver_crs">Please wait...</td>
              </tr>
            </tbody>
          </table>
{% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
     var upload = function() {
         var flprompt ={% if res.format.lower() in ["kml","csv","xls","xlsx","gpx","pdf"] %}1{% else %}0{% endif %};
         var epsg = '';
         if (flprompt) {
             do {
                 epsg = prompt("Please enter the EPSG code for the projection of the data (without \"EPSG:\"/numbers only). You can accept the default value for Shapefiles as it will always be ignored and replaced with a projection based on the archive.", "4326");
             }
             while (epsg && !parseInt(epsg))
         }
         $.get("/api/vector/publish?resource_id={{ c.resource.id }}&projection=" + epsg, function() {
             $('.flash-messages').append('<div class=\"alert fade in alert-info\">Submitted resource {{ c.resource.id }} to Datastore and GeoServer<a class=\"close\" href=\"#\">&#215;</a></div>');
         }).fail(function(jqXHR, errorStatus, errorThrown) {
             $('.flash-messages').append('<div class=\"alert fade in alert-error\">Could not submit resource {{ c.resource.id }} to Datastore and GeoServer. Error: ' + errorStatus + ' <a class=\"close\" href=\"#\">&#215;</a></div>');
         });
     }
         {% if res.format=="DB_TABLE" and res.vectorstorer_resource %}
         {# We don't have jQuery until later #}
         {# https://gist.github.com/dciccale/4087856 #}
         var DOMReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
         var uparts = [{% for item in h.get_site_protocol_and_host() %} "{{item}}", {% endfor %}];
         DOMReady(function() {
             $.ajax({
                 type: "GET" ,
                 url: uparts[0] + "://" + uparts[1] + "/geoserver/odm/" + "{{ c.resource.id }}" + "/wms?service=WMS&request=GetCapabilities" ,
                 dataType: "xml" ,
                 success: function(data) {
                     var wBL = $(data).find('westBoundLongitude')[0].innerHTML;
                     var eBL = $(data).find('eastBoundLongitude')[0].innerHTML;
                     var sBL = $(data).find('southBoundLatitude')[0].innerHTML;
                     var nBL = $(data).find('northBoundLatitude')[0].innerHTML;
                     var crs = $(data).find('Layer')[1];
                     crs = $(crs).find('CRS');
                     crstext = "";
                     for (var c=0;c<crs.length;c++) {
                         crstext += crs[c].innerHTML + "<br>";
                     }
                     $("#geoserver_bounds").html("<em>West</em>: " + wBL + "<br><em>East</em>: " + eBL + "<br><em>South</em>: " + sBL + "<br><em>North</em>: " + nBL);
                     $("#geoserver_crs").html(crstext);
                 }});
         });
         {% endif %}
    </script>
{% endblock %}
