{% ckan_extends %}
 
{% block resource_actions_inner %}
    {{super()}}
    
     {% if res.vectorstorer_resource and res.format=='DB_TABLE' %}
	 
	 
	  
	   <li>{% link_for _('Export'), controller='ckanext.vectorstorer.controllers.export:ExportController', action='export',operation='index', id=pkg.name, resource_id=res.id, class_='btn', icon='magic' %}</li>


    {% endif %}
    {# {% if res.format=="WMS" and res.vectorstorer_resource %}
	<li>{% link_for _('Edit Style'), controller='ckanext.vectorstorer.controllers.style:StyleController', action='edit_current_sld', id=pkg.name, resource_id=res.id,operation='show', class_='btn', icon='magic' %}</li>
    {% endif %} #}
    
    {% if not res.vectorstorer_resource %}
       {% if h.vectorstore_is_in_vectorstore(c.pkg.id, c.resource_id) %}
            <button class="btn btn-success btn-disabled"><i class="fa fa-globe"></i><i class="fa fa-check"></i> GeoData imported</button>
        {% else %}
            {# Add check for geo formats #}
            <a class="btn btn-success" href="#" onclick="upload()"><i class="fa fa-upload"></i><i class="fa fa-globe"></i> Import GeoData</a>
        {% endif %}
    {% elif c.resource.parent_resource_id %}
        {% if res.format=="WMS" and res.vectorstorer_resource %}
          <a class="btn btn-success" href="{{ h.url_for(controller='package', action='resource_read', id=c.pkg.id, resource_id=c.resource.parent_resource_id) }}"><i class="fa fa-files-o"></i><i class="fa fa-globe"></i> View Geo-Data</a>        
        {% elif res.format=="DB_TABLE" and res.vectorstorer_resource %}
          <a class="btn btn-success" href="{{ h.url_for(controller='package', action='resource_read', id=c.pkg.id, resource_id=c.resource.parent_resource_id) }}"><i class="fa fa-level-up"></i><i class="fa fa-globe"></i> View Geo-Source</a> 
        {% endif %}
    {% endif %}
{% endblock %}

{% block resource_read_url %}
            {% if res.layer_url %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.layer_url }}" title="{{ res.layer_url }}">{{ res.layer_url }}</a></p>
            {% elif res.url and h.is_url(res.url) %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="muted break-word">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
{{ super() }}
{% if res.format=="DB_TABLE" and res.vectorstorer_resource %}

  <h2>{{ _('Metadata held by Geoserver') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <tbody>
              <tr>
                <th scope="row">Bounds</th>
                <td id="geoserver_bounds">JS, please put something here!</td>
              </tr>
            </tbody>
          </table>
{% endif %}

{% endblock %}


{% block scripts %}    
{{ super() }}
  <script>
    var upload = function() {
      do {
        var epsg = prompt("Please enter the EPSG code for the projection of the data (without \"EPSG:\"/numbers only). You can accept the default value for Shapefiles as it will always be ignored and replaced with a projection based on the archive.", "4326");
      }
      while (epsg && !parseInt(epsg))
    
      if (!epsg) return;
      $.get("/api/vector/publish?resource_id={{ c.resource.id }}&projection=" + epsg, function() {
          $('.flash-messages').append('<div class=\"alert fade in alert-info\">Submitted resource {{ c.resource.id }} to Datastore and GeoServer using EPSG:' + epsg + '<a class=\"close\" href=\"#\">&#215;</a></div>');
        }).fail(function(jqXHR, errorStatus, errorThrown) {
          $('.flash-messages').append('<div class=\"alert fade in alert-error\">Could not submit resource {{ c.resource.id }} to Datastore and GeoServer. Error: ' + errorStatus + ' <a class=\"close\" href=\"#\">&#215;</a></div>');
        });     
}
   {# We don't have jQuery until later #}
   {# https://gist.github.com/dciccale/4087856 #}
   var DOMReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
   var uparts = [{% for item in h.get_site_protocol_and_host() %} "{{item}}", {% endfor %}];
  DOMReady(function() {
$.ajax({
    type: "GET" ,
    url: uparts[0] + "://" + uparts[1] + "/geoserver/odm/" + "{{ c.resource.id }}" + "/wms?service=WMS&request=GetCapabilities" ,
    dataType: "xml" ,
    success: function(data) {  
var bounds = $(data).find('EX_GeographicBoundingBox').text();  
console.log(bounds);
  $("#geoserver_bounds").html(bounds);
}});
  });
  </script>
{% endblock %}

