{% extends "package/resource_read.html" %}

{% set res = c.resource %}

{% block breadcrumb_content %}
{% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
    <li class="active"> <a href="{{ h.url_for(controller='package', action='resource_read',id=c.pkg.id,resource_id=c.resource.id) }}" >{{res.name}}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}

{% endblock %}

{% block reqd_secondary %}true{% endblock %}
{% block secondary_content %}
  <h2 class="module-heading"><i class="icon-medium icon-magic"></i>{{_('Styling')}}</h2>
  <ul class="nav nav-simple">
      <li class="nav-item">
          <a href="{{ h.url_for('vectorstorer_style', action='show',id=c.pkg.id,resource_id=c.resource.id) }}" title="{{ _('Edit settings') }}">
              <span>{{_('Edit Current Style')}}</span>
          </a>
      </li>
      <li class="nav-item">
          <a href="{{ h.url_for('vectorstorer_style', action='create_form', id=c.pkg.id, resource_id=c.resource.id) }}" title="{{ _('Edit settings') }}">
              <span>{{_('Upload an SLD file')}}</span>
          </a>
      </li>
  </ul>
{% endblock %}

{% block resource_view %}
{% endblock %}

{% block primary_content %}
  {% block sld_actions %}
  {% endblock %}
{% endblock %}
